.ui-page-body {
    -webkit-overflow-scrolling : touch;
}

.ui-file-button{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
}
.mu-radio-icon {
    margin-right: 8px;
}